@import './../../../styles/mixins/mixins.scss';
@import './../../../styles/mixins/form-utils.scss';

:host {
    @include flex-layout(column, space-between, center, 30px);
    max-width: 606px;
    max-height: 769px;
    height: 100%;
    padding: 50px 60px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px #00000014;

    h2 {
        @include h2;
    }

    p {
        @include p;
    }

    a {
        @include a;
    }

    span {
        @include span;
        font-weight: 400;
    }
}

form {
    @include form;

    .forgot-password {
        font-weight: 400;
        padding: 5px 15px;

        &:hover {
            font-weight: 500;
            background-color: #ECEEFE;
            color: #444DF2;
            border-radius: 30px;
        }
    }
}

.or-container {
    @include flex-layout(unset, unset, center, unset);
    width: 100%;

    .line-container {
        flex: 1;
        height: 1px;
        background-color: #ADB0D9;
    }
}

.google-button-container {
    @include flex-layout(unset, center, center, 20px);
    @include button;
    width: 100%;
    padding: 11px 32px;
    background-color: #ECEEFE;
    border: 1px solid transparent;

    &:hover {
        border-color: #444DF2;
    }

    &:hover a {
        font-weight: 700;
        color: #444DF2;
    }

    &:active {
        border-color: #686868
    }
}

.button-container {
    @include flex-layout(unset, center, center, 30px);

    button {
        @include button;

        &:first-of-type {
            background-color: #444DF2;
            color: #FFFFFF;
            border: 1px solid transparent;

            &:hover {
                background-color: #797EF3;
            }
        }

        &:last-of-type {
            background-color: transparent;
            color: #444DF2;
            border: 1px solid #797EF3;

            &:hover {
                background-color: #444DF2;
                color: #FFFFFF;
            }
        }
    }
}