@import './../../styles/mixins/mixins.scss';
@import './../../styles/keyframes.scss';

:host {
    @include flex-layout(column, space-between, center, unset);
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    padding: 75px;

    span,
    a {
        font-size: 18px;
        font-weight: 400;
    }

    span {
        line-height: 24.55px;
    }

    a {
        font-family: 'Figtree';
        padding: 10px 15px;
        line-height: 21.6px;
        color: #797EF3;
        border: 1px solid transparent;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            font-weight: 500;
            color: #444DF2;
            border-color: #ADB0D9;
        }
    }
}

header {
    width: 100%;
    @include flex-layout(unset, flex-end, center, unset);

    svg {
        position: fixed;
        top: 75px;
        left: 75px;
        z-index: 1;
        animation: moveFromTopCenterToTopLeft 1s ease 3.5s forwards;
    }

    .create-account-container {
        height: 100%;
        @include flex-layout(column, space-between, flex-end, unset);
    }
}

footer {
    @include flex-layout(unset, center, center, 16px);
}