@keyframes fadeOutAndHide {
    from {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

@keyframes moveFromRightToLeft {
    from {
        transform: translateX(30%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes moveFromLeftToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes moveFromTopCenterToTopLeft {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        top: 75px;
        left: 75px;
        transform: translate(0, 0);
    }
}