@import "tailwindcss";

@theme {
  --animate-moveLeft: moveLeft 0.3s ease-in-out forwards 1s;
  --animate-moveRight: moveRight 1s ease-in-out forwards 1.4s;
  --animate-fadeOut: fadeOut 1s ease-in-out forwards 2.6s;
  --animate-moveToTopLeft: moveToTopLeft 1s ease-in-out forwards 2.3s;

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-226.98px);
    }
  }

  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(470px);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes moveToTopLeft {
    0% {
      transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
