@import './../../../../../styles/mixins/mixins.scss';

:host {
    @include flex-layout(column, center, center, 20px);
    width: 282px;
    height: 181px;
    border-radius: 30px 0 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #00000033;

    span {
        padding: 10px 70px;
        background-color: #FFFFFF;
        border-radius: 100px;
        font-size: 24px;
        font-weight: 600;
        line-height: 32.74px;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE;
            color: #535AF1;
            font-weight: 700;
        }
    }
}