@import './../../../styles/mixins/mixins.scss';

:host {
    @include flex-layout(column, space-between, unset, unset);
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
}

header {
    @include flex-layout(unset, space-between, center, unset);
    padding: 25px 45px;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.left-container {
    @include flex-layout(unset, unset, center, 10px);
    padding: 6px 10px;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }

    &:hover svg path {
        fill: #535AF1;
    }

    &:hover span {
        color: #535AF1;
    }

    span {
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
    }
}

.right-container {
    @include flex-layout(unset, unset, center, 10px);

    .members-container {
        @include flex-layout(unset, flex-end, center, 10px);
        position: relative;
        height: 46px;
        padding: 3px 10px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE;
        }

        &:hover span {
            color: #535AF1;
        }

        img {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            object-fit: cover;
            border: 2px solid #FFFFFF;
            border-radius: 30px;
        }

        span {
            font-size: 20px;
            font-weight: 600;
            line-height: 27.28px;
        }
    }

    svg {
        cursor: pointer;

        &:hover path {
            fill: #535AF1;
        }
    }
}