@import './../../../styles/mixins/mixins.scss';
@import './../../../styles/mixins/form-utils.scss';
@import './../../../styles/mixins/arrow-back-utils.scss';

:host {
    @include flex-layout(column, space-between, center, 30px);
    max-width: 698px;
    width: 100%;
    max-height: 469px;
    height: 100%;
    padding: 40px 53px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px #00000014;

    h2 {
        @include h2;
    }

    p {
        @include p;
    }

    button {
        @include button;
        align-self: flex-end;
        background-color: #444DF2;
        color: #FFFFFF;
        border: 1px solid transparent;

        &:hover {
            background-color: #797EF3;
        }
    }
}

header {
    @include header-arrow;
}

form {
    @include form;
    padding: 0 53px;

    p {

        &:last-of-type {
            width: 354px;
            color: #686868
        }
    }
}